body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: var(--bg-color);
    color: var(--text-color); 
}

input{
    background-color: var(--card-bg);
    color: var(--text-color);
}

h1, h2 {
    color: var(--text-color); 
}

.tarjeta {
    background: var(--card-bg);
    padding: 20px;
    border: 1px solid var(--bdr-color);
    border-radius: 8px;
    margin-bottom: 20px; 
}

input, button {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid var(--bdr-color);
    border-radius: 4px; 
}

.btn-guardar {
    background-color: var(--save-Btn);
    color: white;
    cursor: pointer;
    font-weight: bold;
    border: none; 
}

.btn-guardar:hover {
     background-color: var(--save-Btn); 
    }

.btn-editar { 
    background-color: var(--edit-Btn);
    color: black;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
}

.btn-eliminar { 
    background-color: var(--delete-Btn);
    color: white;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse; 
    background-color: var(--card-bg); 
}

th, td {
     padding: 10px; 
     border: 1px solid var(--bdr-color); 
     text-align: left; 
     color: var(--thtd-textColor);
    }

th { 
    background-color: var(--thback-color); 
}

.btn-Plan {
    background-color: var(--plan-Btn);
}

.header-tabla {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 5px;
}

.btn-filtro {
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
    border: 1px solid var(--bdr-color);
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 600;
}

#infoFechas {
    margin-top: 10px;
    font-weight: bold;
    color: #6c757d; 
    min-height: 1.2em; 
}

:root {
    --bg-color: #ffffff;
    --bdr-color: black;
    --text-color: #333333;
    --card-bg: #f4f4f4;
    --table-header: #eeeeee;
    --edit-Btn: #ffc107;
    --delete-Btn: #dc3545;
    --save-Btn: #28a745;
    --thback-color: #00ffea;
    --plan-Btn: #00bedb;
    --thtd-textColor: black;
}

[data-theme="dark"] {
    --bg-color: #1a1a1b;
    --bdr-color: white;
    --text-color: #8a8a8a;
    --card-bg: #2d2d2e;
    --table-header: #3e3e3f;
    --edit-Btn: #a57e09;
    --delete-Btn: #8f1420;
    --save-Btn: #056319;
    --thback-color: #007ccf;
    --plan-Btn: #0095ac;
    --thtd-textColor: white;
}